<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>
            <label>글번호</label>
                {{item.idx}}
        </li>
        <li>
            <label>제목</label>
                {{item.subject}}
        </li>
        <li>
            <label>작성일</label>
            {{item.date}}
        </li>
        <li>
            <label>조회수</label>
            {{item.hit}}
        </li>
        <li>
            <label>좋아요</label>
            {{item.like}}
        </li>
        <li>
            <label>내용</label>
            {{item.content}}
        </li>

    </ul>
    <a href="/board/list">글 목록 가기</a>
    <a href="/board/update/?idx={{item.idx}}">글 수정</a>
    <a href="/board/delete/?idx={{item.idx}}">삭제</a>
    
</body>
</html>