<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 
        ws
     -->
</head>
<body>
    Hello World!!
    <div id="root"></div>
    <script type="text/javascript"> 
    // defer나 dom 어쩌구 저쩌구
        const webSocket = new WebSocket("ws://localhost:3000")

        webSocket.onmessage = (message) => {
            console.log(message.data)
            const data = JSON.parse(message.data)

            if(data.type === "message"){
                document.querySelector("#root").innerHTML= data.payload
            }
            else if(data.type === "add") {
                console.log(data.payload)
            }
        }
    </script>
</body>
</html>